
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.menuOpenMobile{
  display: none;
}

.menuCloseMobile{
  display: none;
}

.menu{
  display: block;
}

.menu-item{
  font-family: 'Sarala', sans-serif;
  color: aliceblue;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  margin: 10px;
}

.menu-item:hover{
  color: #F2D338;
  transition: 0.5s all;
}


@media screen and (max-width: 760px) {
  
  .header{
    width: 100%;
    height: 90px;
  }
  
  .logo-myte-img{
    position: relative;
      right: 19%;
  }
  
  .menu{
    display: none;
    position: fixed;
      top: 0px;
    flex-direction: column;
    background-color: #2b2d31;
    padding: 100px 50px;
    margin: 0 290px 0 0;
    height: 100vh;
  }
  
  .menu-item:hover{
    padding-left: 9px;
    transition: 0.6s all;
  }
  
  .menuOpenMobile{
    display: flex;
    margin-left: 20px;
    background: none;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    padding: .5rem 1rem;
    gap: .5rem;
  }

  .menuIcon{
    color: rgb(255, 255, 255);
    width: 20px;
    border-top: 2px solid;
  }

  .menuIcon::after, .menuIcon::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  .menuCloseMobile{ 
    display: none;
    position: relative;
      top: -85px;
      right: -115px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    color: rgb(239, 244, 250);
    border: none;
    font-weight: 200;
    background-color: #2b2d31;
  }
  
  .menuCloseMobile:hover{
    color: rgb(255, 255, 255);
  }
  
  .menu-item{
    width: 160px;
    text-align: left;
  }
  }