.container {
  margin-bottom: 20px;
  border-top: 0.4px solid aliceblue;
}

.main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.main-written-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 64px;
  color: aliceblue;
  text-shadow: 0 0 7px rgb(164, 213, 255);
  animation: flipimg 4s;
}

.caption {
  font-family: "Sarala", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: aliceblue;
}

.button {
  background-color: #336cc0;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgb(29, 29, 29);
  border-radius: 20px;
  font-family: "Sarala", sans-serif;
  font-size: 20px;
  color: aliceblue;
  margin: 0 15px;
}

.button:hover {
  background-color: #275294;
  cursor: pointer;
  transition: 0.5s;
}

.button a {
  color: aliceblue;
}

.button-2 {
  border-radius: 10px;
  width: 130px;
  height: 50px;
  outline: 0;
  border: none;
  background-color: #6b6b6a;
  box-shadow: 2px 2px 5px black;
  font-size: 14px;
  cursor: pointer;
  font-family: "Sarala", sans-serif;
}

.button-2:hover {
  background-color: #3d3d3d;
  transition: 0.5s;
}

.button-2 a {
  color: aliceblue;
}

.Mfigure {
  height: 450px;
  margin: 0px 310px 0px 0px;
}

.container-2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 18px;
}

.title-2 {
  border-top: 0.4px solid aliceblue;
  padding-top: 38px;
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 24px;
  color: #fff2e7;
  margin-bottom: 16px;
}

.paragraph {
  font-family: "Sarala", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: aliceblue;
}

@keyframes flipimg {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

@media screen and (max-width: 720px) {
 
  .container{
    margin-bottom: 0px;
  }

  .container-2{
    margin-bottom: 35px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
